<div class="main-centered-content">
  <mat-card>
    <div class="task-manager-container">

      <div class="sidebar">
        <h1 class="title has-text-primary">
          Lists
        </h1>

        <div class="list-menu">
          <a class="list-menu-item" [routerLink]="['/lists']" routerLinkActive="is-active">

          </a>

        </div>

        <button class="button is-primary has-text-white" routerLink="/new-list">+ New List</button>

      </div>

      <div class="task-list-container">
      <h3 class="empty-state-text">Please select a list from the sidebar</h3>
      </div>

    </div>
  </mat-card>
</div>
